.carousel-container {
    position: fixed;
    top: 10px;
}

.point-tabs-nav {
    display: flex;
    gap: 50px;
    font-size: 20px;
    justify-content: center;
}

.point-tab:hover button {
    font-family: NotoSansKR-Bold, serif;
}

.point-tab button.active {
    font-family: NotoSansKR-Bold, serif;
    border-bottom: 3px solid #ff69b4; /* 분홍색 줄 */
}

.category-btn-container {
    overflow-x: auto;
}

.category-btn-container::-webkit-scrollbar,
.category-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


.category-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    translate: 0 30px;
    font-size: 12px;
    width: max-content;
}

.category-btns button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 15px;
    white-space: nowrap;
}

.category-btns .active {
    background-color: #ea4197;
    color: white;
}

.sort-select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-select {
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    translate: 0 15px;
    border-radius: 5px;
}

.product-list,
.point-game-btns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.point-game-btns {
    gap: 30px;
    padding: 25px;
}

.product-item {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border 0.3s;
}

.product-item:hover {
    border: none;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item h3 {
    margin: 10px 0;
    font-size: 1.1em;
}

.product-item p {
    font-size: 0.9em;
    color: #333;
}

/* 반응형 조정 */
@media (max-width: 1200px) {
    .product-list,
    .point-game-btns {
        /*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .product-list,
    .point-game-btns {
        /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .product-list,
    .point-game-btns {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 390px) {
    .product-list,
    .point-game-btns {
        grid-template-columns: repeat(2, 1fr);
    }
}


.game-header {
    padding: 10px;
    margin: 20px auto;
    font-family: LuckiestGuy-Regular, serif;
    text-align: center;
    font-size: 40px;

}

.game-button {
    border: none;
    width: 180px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F7CCD4;
    font-size: 20px;
    font-weight: bold;
}

.game-button:hover {
    border: none;
    background-color: #EB517E;
}

.item-header {
    padding: 10px;
}

.item-tabs-nav {
    display: flex;
    gap: 30px;
    font-size: 20px;
    justify-content: flex-start;
    margin: 10px;
}

/*----------------------------------------------------*/

/*보관함-사용완료*/
.product-item.item-blur {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border 0.3s;
    filter: opacity(50%);
}

.stamp-image {
    position: absolute;
    width: 10%;
}

/* 반응형 조정 */
@media (max-width: 1200px) {
    .product-list.list-blur {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 768px) {
    .product-list.list-blur {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .product-list.list-blur {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 390px) {
    .product-list.list-blur {
        grid-template-columns: repeat(2, 1fr);
    }
}