.worldCup-container {
    padding-top: 40px;
    position: relative;

}

.arrow-btn {
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 22px;
    display: flex;
}

.trophy-image {
    width: 100%;
}

.worldCup-title {
    color: #EB517E;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    font-family: LuckiestGuy-Regular, serif;
    letter-spacing:2px;
}

.worldCup-text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    color: #555555;
}

.worldCup-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    background-color: #EB517E;
    color: white;
    padding: 10px 15px;
    margin: 40px auto;
    font-family: LuckiestGuy-Regular, serif;
    font-size: 1.2em;
    letter-spacing:2px;
}

.worldCup-btn:hover {
    background-color: #d63561;
}

.worldCup-content{
    position: absolute;
    width: 80%;
    top: 700%;
    left: 50%;
    transform: translate(-50%, -50%);
}