.game-container {
    margin: 45px auto;
}

.game-title {
    color: white;
}

.round-info {
    font-family: Acme-Reqular, serif;
    color: #EB517E;
    font-size: 25px;
    font-weight: bold;
    margin: 35px;
}

/* 게이지 바 스타일을 추가합니다. */
.progress-bar {
    width: 100%;
    background-color: #eee;
    border-radius: 25px;
    overflow: hidden;
    height: 3vh;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    background-color: #EB517E;
    transition: width 0.3s;
    border-radius: 15px;
}

.round-info span {
    font-weight: bold;
    font-size: 25px;
}

.items-grid {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 10px;
}

.worldCup-vs {
    position: absolute;
    border: 3px solid #EB517E;
    border-radius: 50%;
    padding: 5px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #EB517E;
    z-index: 1;
    background-color: white;
}

.food-item {
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    transition: transform 0.2s;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.food-item:hover,
.food-winner-item:hover {
    transform: scale(1.05);
}

.food-item img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.food-item-name {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #233B6F;
}

.winner-box h2 {
    padding: 20px;
}

.food-winner-item {
    position: relative;
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 25px;
    border-radius: 30px;
    transition: transform 0.2s;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.food-winner-item span {
    position: absolute;
    top: -50px;
    left: -30px;
}

.food-winner-item img {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    display: flex;
}

.back-recommend-btn {
    border: none;
    border-radius: 8px;
    background-color: #EB517E;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 50px;
    padding: 10px;
}

.back-recommend-btn:hover {
    background-color: #d63561;
}

.round-info span {
    font-size: 40px;
}