/* RecommendFoodCategory.css */
.recommend-category-container {
    padding: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.category-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* 아래쪽 여백 조절 */
}

.restaurant-list {
    list-style: none;
    padding: 0;
    background-color: #fff;
}

/* 상단 BEST 음식점 컨테이너 스타일 추가 */
.top-list {
    display: flex;
    flex-wrap: wrap;
}

.top-item {
    border-bottom: 2px solid #ddd; /* 상단 아이템 구분선 강조 */
    flex: 1 0 30%; /* 각 아이템이 너비의 30%를 차지하고, 최소 너비는 30% */
    box-sizing: border-box;
    margin: 5px;
}

/* 주변 음식점 아이템 스타일 수정 */
.restaurant-item {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.restaurant-info {
    flex: 1;
    margin-left: 10px; /* 이미지와 정보 사이 간격 */
}

.restaurant-name {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.restaurant-address {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.restaurant-details {
    display: flex;
    align-items: center; /* 아이콘과 텍스트 세로 정렬 */
    margin-top: 5px; /* 위쪽 여백 추가 */
}

.restaurant-rating {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #f0ad4e; /* 별점 색상 */
}

.restaurant-rating::before {
    content: '★'; /* 별 아이콘 추가 */
    margin-right: 5px;
}

.restaurant-category {
    font-size: 12px;
    color: #999;
    margin-left: 10px; /* 왼쪽 여백 추가 */
}

.nearby-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px; /* 위쪽 여백 조절 */
    margin-bottom: 10px;
}
