/* 컨테이너 스타일 */
.recommend-main{
    display: grid;
    gap: 1.5em;
}

/* 검색 */
.recommend-search h3{
    margin-bottom: 0.5em;
}

/*실시간 인기 검색어*/
.real-time-popularity{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2em;
    margin-top: 1em;
}

.real-time-popularity h6{
    translate: 0 5px;
}

.real-time-popularity div{
    width: 200px;
}

/* 메뉴 추천 스타일 */
.menu-recommendation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.menu-recommendation-back{
    position: absolute;
    width: 50%;
    background: radial-gradient(circle, rgba(255, 160, 107, 0.49), rgba(247, 212, 204, 0) 70%);
    border-radius: 50%;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-recommendation h4{
    z-index: 1;
}

.recommend-button {
    background-color: transparent;
    width: 70%;
    cursor: pointer;
    z-index: 1;
}

.menu-recommendation-img {
    display: inline-block;
    position: relative;
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
}

.menu-recommendation-img:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.menu-recommendation-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-recommendation-title {
    font-family: NotoSansKR-Bold, serif;
    font-size: 1.3em;
}


.menu-recommendation-back:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

/*월드컵*/
.worldcup{
    position: relative;
    width: 100%;
    height: 4em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.worldcup h4{
    display: inline;
    position: absolute;
    left: 75px;
    top: 18px;
}

.worldcup img{
    position: absolute;
    width: 30%;
    top: -25px;
}

/* 추천 카테고리 스타일 */
.recommended-categories {
    overflow: hidden;
    width: 100%;
}

/*카테고리별 맛집 추천*/
.food-categories{
    overflow: hidden;
    width: 100%;
}

.food-categories h4 {
    margin-bottom: 20px;
}

/* 회식장소 Pick 스타일 */
.group-dinner-pick {
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

/*회식장소pick*/
.restaurant-category-btn-container {
    overflow-x: auto;
    position: relative;
    height: 45px;
    margin: 20px 0;
}

.restaurant-category-btn-container::-webkit-scrollbar,
.restaurant-category-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.restaurant-category-buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    translate: 0 -5px;
}

.restaurant-category-buttons button {
    margin: 5px;
    padding: 10px 25px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    font-weight: bold;
}

.restaurant-category-buttons .active {
    background-color: #ea4197;
    color: white;
}

/*회식장소 pick item*/
.restaurant-info-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1em;
    padding: 10px 0;
}
.restaurant-info-item{
    display: flex;
    gap: 20px;
}
.restaurant-image-link{
    flex: 1;
    position: relative;
    width: 20%;
    overflow: hidden;
}
.restaurant-image-link:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.restaurant-image-link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.pub-info-container{
    flex: 3.5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    width: 70%;
}

.pub-info-container a{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    color: #092543;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pub-info-container h6{
    margin: 0;
}

.pub-address{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pub-distance svg{
    margin-right: 5px;
}

.pub-bookmark-state {
    display: flex;
}

.pub-bookmarks{
    display: flex;
    align-items: center;
    gap: 5px;
}
.pub-bookmarks svg{
    height: 16px;
}

.category-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}