.game-layer {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .gacha-back-btn {
    z-index: 30000;
    font-size: 30px;
    cursor: pointer;
    translate: 0 30px;
  }

  .machine-container {
    position: relative;
    white-space: nowrap;
    pointer-events: auto;
    z-index: 10;

    .machine {
      position: relative;
      z-index: 200;
      max-height: 87vh;
    }

    .backboard {
      z-index: 20;
      width: 17vh;
      height: 9vh;
      top: 57%;
      left: 48%;
      background-color: white;
      position: absolute;
      overflow: hidden;
    }

    .backboard::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      background-color: transparent;
    }

    .title {
      --stroke-color: #233B6F;
      position: absolute;
      display: block;
      top: 14%;
      width: 100%;
      text-align: center;
      text-shadow: 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white),
      0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white),
      0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white),
      0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white);
      filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.2));
      font-size: 4vh;
      z-index: 3;

      //span {
      //  animation: blink 0.8s linear both infinite;
      //
      //  &:nth-child(1) { animation-delay: 0.12s; }
      //  &:nth-child(2) { animation-delay: 0.24s; }
      //  &:nth-child(3) { animation-delay: 0.36s; }
      //  &:nth-child(4) { animation-delay: 0.48s; }
      //  &:nth-child(5) { animation-delay: 0.6s; }
      //  &:nth-child(6) { animation-delay: 0.72s; }
      //  &:nth-child(7) { animation-delay: 0.84s; }
      //  &:nth-child(8) { animation-delay: 0.96s; }
      //  &:nth-child(9) { animation-delay: 1.08s; }
      //  &:nth-child(10) { animation-delay: 1.2s; }
      //}
    }

    .price {
      z-index: 1000;
      position: absolute;
      color: #233B6F;
      font-size: 3.5vh;
      font-weight: bold;
      top: 79.5%;
      left: 15.5%;
    }

    .handle {
      z-index: 1000;
      position: absolute;
      height: 3.7vh;
      left: 14.5%;
      top: 70%;
      cursor: pointer; /* 버튼 클릭 가능하게 변경 */
    }

    .balls {
      position: absolute;
      top: 32%;
      left: 8px;
      width: 165%;
      height: 40%;
    }

    .ball {
      --outline: #4c3fc2;
      --color1: #2facff;
      --color2: #ff8ff6;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: var(--color1);
      border: solid 0.8vh var(--outline);
      position: absolute;
      overflow: hidden;
      z-index: 1;
      pointer-events: auto;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        height: 200%;
        width: 200%;
        background-color: var(--color2);
        border-radius: 100%;
        border: inherit;
        transform: translate(-25%, -5%);
      }
    }

    .pointer {
      position: absolute;
      height: 15vh;
      top: 77%;
      left: 25%;
      z-index: 11;
      pointer-events: none;

      img {
        height: 100%;
        display: block;
        transform: rotate(-30deg);
        transform-origin: 0% 0%;
        animation: click 1s ease-in-out infinite both;
      }
    }
  }
}

@keyframes blink {
  0% {
    color: #ffc7e5;
  }

  20% {
    color: #fcff33;
  }

  100% {
    color: #ffc7e5;
  }
}

@keyframes click {
  0% {
    transform: rotate(-30deg) translateY(0vh);
  }

  80% {
    transform: rotate(-30deg) translateY(5vh);
  }

  100% {
    transform: rotate(-30deg) translateY(0vh);
  }
}
