.admin-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 80%;
    max-width: 440px;
    padding: 50px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-form h3 {
    text-align: center;
    margin-bottom: 30px;
}

.admin-container {
    margin-bottom: 15px
}

.admin-container label {
    display: block;
    font-weight: bold;
}

.admin-container input {
    width: 350px;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.admin-button {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #eb517e;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.admin-button:hover {
    background-color: #ea4197;
}
