.bookmark-restaurant-item{
    display: flex;
    margin-top: 20px;
}

.bookmark-restaurant-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    gap: 10px;
}

.restaurant-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
}

.bookmark-restaurant-details {
    display: flex; /* flexbox 적용 */
    flex-direction: column; /* 수직 배열 */
}

.restaurant-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.restaurant-address,
.restaurant-phone {
    font-size: 14px;
    color: #666;
}

.bookmark-icon {
    position: relative;
    width:20px;
    height:20px;
    cursor: pointer;
    margin-left: 10px;
}
