.my-page-main {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info {
    text-align: center;
    position: relative; /* 부모 요소에 상대 위치 설정 */
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.logout-btn, .edit-btn, .save-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover, .edit-btn:hover, .save-btn:hover {
    background-color: #0056b3;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form label {
    margin: 10px 0;
}

.edit-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

/* + 버튼 스타일 */
.upload-btn {
    position: absolute;
    top: 100px; /* 이미지의 위쪽에 배치 */
    right: calc(50% - 75px + 0px); /* 이미지의 오른쪽에 배치 */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.upload-btn:hover {
    background-color: #0056b3;
}

/* 파일 입력 필드 숨기기 */
#profileImageInput {
    display: none;
}
