.my-page-main{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}
.user-info{
    display: flex;
    justify-content: space-between;
}

/*프로필사진*/
.mypage-profile{
    width: 50px;
    height: 50px;
    border: 1px solid #233B6F;
    border-radius: 50%;
    overflow: hidden;
}

.mypage-profile-image{
    width: 100%;
    object-fit: cover;
}

.before-login{
    background: #233B6F;
}

.before-login svg{
    color: #fff;
    width: 100%;
    height: 100%;
}

/*회원정보*/
.goto-UserModify{
    display: flex;
    align-items: center;
    gap: 1em;
}

.mypage-nickname, .goto-MyPointUsage{
    font-family: NotoSansKR-Bold, serif;
    color: #233B6F;
    font-size: 1.2em;
}

.mypage-nickname span{
    margin-right: 5px;
}

/*계산기로 이동*/
.goto-Calculator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #233B6F;
    color: #fff;
    border-radius: 10px;
    text-align: left;
    padding: 10px 30px;
}

.goto-Calculator span{
    font-family: NotoSansKR-Bold, serif;
    font-size: 1.2em;
}

.goto-Calculator svg{
    font-size: 2.5em;
}

/*내 활동*/
.mypage-link{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #233B6F;
    margin-top: 1em;

}
.activites-icon{
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.activites-icon svg{
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.circle-icon{
    border: 2px solid #233B6F;
    border-radius: 50%;
}

.circle-icon svg{
    width: 70%;
    height: 70%;
    vertical-align: inherit;
}

.goto-PointShop{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/*포인트 구매내역*/
