.myReview-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.myReview-header button {
    cursor: pointer;
}

.myReview-header svg {
    font-size: 20px;
}

.myReview-header h2 {
    margin: 0 auto;
    translate: -15px;
}

.myReview-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.myReview-left-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}