.group-main {
    position: relative;
}

.group-header {
    margin-bottom: 30px;
}

.group-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 10px 0;
}

.search-field {
    position: relative;
}

.group-search-box {
    border: none;
    border-bottom: 2px solid #000; /* 아래쪽 테두리만 추가 */
    outline: none; /* 클릭 시 나타나는 기본 아웃라인 제거 */
    padding: 5px; /* 인풋 내부 여백 */
    width: 180px;
}

.group-search-select {
    appearance: none; /* 기본 브라우저 스타일 제거 */
    -webkit-appearance: none; /* WebKit 브라우저에서 기본 스타일 제거 */
    -moz-appearance: none; /* Mozilla 브라우저에서 기본 스타일 제거 */
    border: 1px solid #233B6F; /* 테두리 */
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px; /* 둥근 테두리 */
    width: 50%; /* 너비 조정 */
    box-sizing: border-box; /* 패딩 포함한 박스 사이즈 */
    color: #233B6F !important; /* 글자 색상 */
}

.group-search-select:focus {
    outline: none; /* 포커스 시 아웃라인 제거 */
}

.group-search-select-wrapper {
    position: relative; /* 커스텀 아이콘 위치 조정용 */
    width: 50%; /* 전체 너비 */
}

.group-search-select-wrapper::after {
    content: '▼'; /* 커스텀 화살표 추가 */
    font-size: 12px;
    color: #233B6F;
    position: absolute;
    left: 38%;
    top: 48%;
    transform: translateY(-50%);
    pointer-events: none; /* 화살표에 클릭 이벤트 방지 */
}

.group-search-box::placeholder {
    font-size: 15px;
}

.group-search-select:focus,
.group-search-box:focus {
    outline: none;
    border-color: #233B6F;
}

.group-search-btn {
    position: absolute;
    top: 1px;
    right: 5px;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 이미지와 텍스트가 수직으로 중앙에 정렬되도록 설정 */
    position: relative;
    padding: 5px;
    text-align: center;
    height: 100%;
}

.item:hover,
.item:active {
    font-weight: bold;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}

.joinChatRoom-title {
    font-size: 15px;
    display: block;
    white-space: normal; /* 줄바꿈을 허용 */
    word-wrap: break-word; /* 단어가 길면 줄바꿈 */
    width: 100px;
    overflow: visible; /* 텍스트가 짤리지 않도록 설정 */
    line-height: 1.2; /* 텍스트 줄 간격 설정 */
    max-height: 20px; /* 텍스트의 최대 높이 제한을 없앰 */
    margin-top: 10px; /* 이미지와 텍스트 사이의 간격 설정 */
}

.groupMain-unread-count {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.1em 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    translate: 40px;
}

.meeting-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meeting-item {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}

.meeting-item:hover,
.meeting-item:active {
    border: 1px solid #233B6F;
}

.meeting-contents {
    display: flex;
    align-items: center;
    gap: 20px;
}

.meeting-contents img {
    width: 70px;
    height: 70px;
    border-radius: 20%;
}

.meeting-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    overflow: hidden;
}

.meeting-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.meeting-header-left {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.meeting-header h3 {
    margin: 0;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.meeting-header span {
    font-size: 12px;
    color: #999;
}

.meeting-text {
    display: flex;
}

.meating-header-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fab-box {
    display: flex;
    justify-content: flex-end;
}

/*모임 만들기 바*/
.fab {
    position: fixed;
    bottom: 90px; /* Adjust this value based on the height of the navbar */
    width: 60px;
    height: 60px;
    background-color: #EB517E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.modal-open-button, .modal-close-btn {
    cursor: pointer;
    margin-left: auto;
}

.modal-close-btn {
    font-size: 40px;
    color: white;
}

.modal-container {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-title {
    flex-grow: 1;
}