.user-detail-container-n {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    height: 400px;
    box-sizing: border-box;
    overflow: auto;
}

.user-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.user-detail-header span {
    font-size: 20px;
}

/* 두께를 늘린 hr 스타일 */
.hr-style {
    border: 1px solid black;
}

.user-detail-n {
    margin: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
