.game-layer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url(https://assets.codepen.io/2509128/bg.jpg) center/auto 100% no-repeat;
  pointer-events: none;

  .machine-container {
    position: relative;
    white-space: nowrap;
    pointer-events: auto;
    z-index: 10;

    .machine {
      position: relative;
      z-index: 1;
      max-height: 85vh;
    }

    .backboard {
      z-index: 0;
      width: 17vh;
      height: 13vh;
      top: 67%;
      left: 50%;
      background-color: #e288bb;
      position: absolute;
    }

    .title {
      --stroke-color: #ad8bd6;
      position: absolute;
      display: block;
      top: 10%;
      width: 100%;
      text-align: center;
      text-shadow: 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white),
      0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white),
      0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white),
      0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white), 0px 0px 2px var(--stroke-color, white);
      filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.2));
      font-size: 5vh;
      z-index: 3;

      span {
        animation: blink 0.8s linear both infinite;

        &:nth-child(1) { animation-delay: 0.12s; }
        &:nth-child(2) { animation-delay: 0.24s; }
        &:nth-child(3) { animation-delay: 0.36s; }
        &:nth-child(4) { animation-delay: 0.48s; }
        &:nth-child(5) { animation-delay: 0.6s; }
        &:nth-child(6) { animation-delay: 0.72s; }
        &:nth-child(7) { animation-delay: 0.84s; }
        &:nth-child(8) { animation-delay: 0.96s; }
        &:nth-child(9) { animation-delay: 1.08s; }
        &:nth-child(10) { animation-delay: 1.2s; }
      }
    }

    .price {
      z-index: 3;
      position: absolute;
      color: #fb91c9;
      font-size: 2.5vh;
      top: 80%;
      left: 15%;
    }

    .handle {
      z-index: 10;
      position: absolute;
      height: 3.7vh;
      left: 14%;
      top: 70%;
      cursor: pointer; /* 버튼 클릭 가능하게 변경 */
    }

    .balls {
      position: absolute;
      top: 33%;
      left: 5px;
      width: 170%;
      height: 37.5%;
    }

    .ball {
      --outline: #4c3fc2;
      --color1: #2facff;
      --color2: #ff8ff6;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: var(--color1);
      border: solid 0.8vh var(--outline);
      position: absolute;
      overflow: hidden;
      z-index: 1;
      pointer-events: auto;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        height: 200%;
        width: 200%;
        background-color: var(--color2);
        border-radius: 100%;
        border: inherit;
        transform: translate(-25%, -5%);
      }
    }

    .pointer {
      position: absolute;
      height: 15vh;
      top: 77%;
      left: 25%;
      z-index: 11;
      pointer-events: none;

      img {
        height: 100%;
        display: block;
        transform: rotate(-30deg);
        transform-origin: 0% 0%;
        animation: click 1s ease-in-out infinite both;
      }
    }
  }
}

@keyframes blink {
  0% {
    color: #ffc7e5;
  }

  20% {
    color: #fcff33;
  }

  100% {
    color: #ffc7e5;
  }
}

@keyframes click {
  0% {
    transform: rotate(-30deg) translateY(0vh);
  }

  80% {
    transform: rotate(-30deg) translateY(5vh);
  }

  100% {
    transform: rotate(-30deg) translateY(0vh);
  }
}
