.mainPage{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.shortMenu{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    margin: 1em auto;
}
.shortMenuItem{
    position: relative;
    width: 100%;
}
.shortMenuIcon:after{
    content: "";
    display: block;
    padding-bottom: 100%;
    margin-bottom: 5px;
}
.shortMenuIcon{
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.shortMenuIcon img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    top: 0;
    left: 0;
}

.RandomMenuButtonItem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

/*메뉴 요약*/
.summation-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.summation-title{
    background: #75b8ff;
    color: #ffffff;
    padding: 2px 7px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.summation-left h3{
    margin-top: 5px;
    margin-bottom: 0;
}

.summation-more{
    color: #555555;
    font-weight: bold;
}