.mainPage{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.main-slide{
    position: absolute;
    width: calc(100% + 2.5rem);;
    top: -10px;
    left: -20px;
}

.sliderbox{
    height: 190px;
}

/*바로가기*/

.shortMenuName {
    color: var(--main-text-color);
    font-weight: bold;
}
.shortMenu{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    margin: 1em auto;
}
.shortMenuItem{
    position: relative;
    width: 100%;
}
.shortMenuIcon:after{
    content: "";
    display: block;
    padding-bottom: 100%;
    margin-bottom: 5px;
}
.shortMenuIcon{
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.shortMenuIcon img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    top: 0;
    left: 0;
}

.RandomMenuButtonItem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

/*메뉴 요약*/
.summation-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.summation-title{
    background: #75b8ff;
    color: #ffffff;
    padding: 2px 7px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.summation-left h3{
    margin-top: 5px;
    margin-bottom: 0;
}

.summation-more{
    color: var(--main-text-color);
    font-weight: bold;
}

/*오늘의 도시락*/
.summation-content .recipe-list-item{
    margin-top: 20px;
    border: none;
    padding: 0;
}

.main-recipe-card{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.main-recipe-card a{
    display: flex;
    gap: 10px;
    color: #000;
}

.main-recipe-card .main-recipe-card-title{
    display: inline-block;
    overflow: hidden;
    width: 70%;
}

.main-recipe-card-title > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.main-recipe-card-title h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: var(--main-text-color);
}

.main-recipe-card-title p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 0.9em;
    color: var(--main-text-color);
}