/*헤더*/
.user-FAQ-main{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/*내용*/
.faq-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 15px 10px;
    border-bottom: 1px solid #898989;
    cursor: pointer;
}

.qna-content{
    background: #eeeeee;
    padding: 15px 10px;
    word-break: keep-all;
}
