/* src/components/Recipe/RecipeList.css */
.recipe-list-container {
    width: 80%;
    margin: 20px auto;
}

.loading-message,
.error-message,
.no-recipes-message {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 반응형 그리드 설정 */
    gap: 1rem;
}

.recipe-card-wrapper {
    /* 카드 wrapper 스타일 (선택 사항) */
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 0.5rem 1rem;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #eee;
    cursor: default;
}

.pagination .active {
    background-color: #007bff; /* 활성화된 페이지 버튼 스타일 */
    color: white;
}