/*RecipeCard.css */
.latest-recipe-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recipe-card-image img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.latest-recipe-card a{
    display: flex;
    color: black;
    gap: 1em;
}