/*RecipeCard.css */
.filter-options{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 1.5em;
    margin-bottom: 10px;
}

.latest-recipe-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-card{
    position: relative;
}

.recipe-card-image img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}


.recipe-card a{
    display: flex;
    gap: 10px;
    color: #000;
}

.recipe-card-title{
    width: 300px;
    overflow: hidden;
}

.recipe-card-title h4, .recipe-card-title p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-card-title .author{
    color: #555555;
}

/*더보기*/
.recipe-user-action-more{
    position: absolute;
    top: 0;
    right: 0;
}

.recipe-card-actions{
    position: absolute;
    right: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #999999;
    width: 50px;
    padding: 3px;
}
.recipe-card-bottom{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}
.recipe-card-bottom-button{
    display: flex;
    align-items: center;
    gap: 5px;
}
.recipe-card-bottom-button svg{
    width: 20px;
}