/* src/assets/style/recipe/RecipeSearchResults.css */
.loading-message,
.error-message,
.no-recipes-message {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recipe-list-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
}
