/* 기본 모달 스타일 */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* 모달이 표시될 때 적용될 스타일 */
.modal.show {
    display: flex;
}
.modal.hide {
    display: none;
}

/* 모달 컨텐츠 스타일 */
.modal-content {
    max-width: 380px;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    animation: fadeIn 0.3s ease-in-out;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    font-size: 20px;
}

.group-modal-header button {
    font-weight: bold;
}

.group-modal-title {
    font-size: 20px;
    font-weight: bold;
    translate: 5px 5px;
}

.form-group {
    margin-bottom: 20px;
    width: 90%;
}

.form-group label {
    display: flex;
    margin-bottom: 5px;
}

.form-group textarea {
    background-color: #dddddd;
    border: none;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}

.group-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.group-image-box {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.group-image-box img {
    max-width: 100%;
    max-height: 100%;
}

.plus-button {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: navy;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.file-input {
    display: none;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*------------------------------------------------------------*/

/*JoinGroupModal.jsx*/

.modal-content.join-content {
    height: 50%;
}

.group-modal-header.join-header {
    justify-content: space-around;
}

.group-modal-title.join-title {
    flex-grow: 1;
    text-align: center;
    translate: 9px 4px;
}

.placeholder.default-image {
    background: none;
}

.placeholder.default-image img {
    width: 90%;
    translate: 3px;
}

.group-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.group-text-container h3 {
    font-size: 25px;
}

.group-text-container h5 {
    font-size: 15px;
}

.group-text-container p {
    padding: 30px;
    font-size: 20px;
}

.group-modal-create-btn.join-btn {
    margin: 20px;
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}