main {
    min-height: calc(100dvh - 8.5rem);
    background-color: white;
}

.header{
    height: 4.75rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    z-index: 100;
    background: #fff;
}
.headerLogo{
    width: 8em;
}
.headerLogo img{
    width: 100%;
}
.headerLink{

}
.headerLink *{
    font-size: 18px;
    padding: 0 10px;
    color: #233B6F;
}
main{
    min-height: calc(100dvh - 8.5rem);
    background: #ffffff;
}