/*메인페이지 배너 슬라이드*/
.MainSlide{
    position: relative;
    margin-bottom: 3em;
}
.slider-counter{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}
.MainslideItem{
    position: relative;
    height: 6em;
    border-radius: 10px;
    overflow: hidden;
}
.MainslideItemImg{
    width:100%;
    height:100%;
    object-fit: cover;
}
.MainslideItemTitle{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

/*맛집추천 추천카테고리 슬라이더*/
.category-description{
    width: 100vh;
}
.category-description-item{
    position: relative;
    height: 6em;
    border-radius: 10px;
    background: #e288bb;
}
.category-description .slick-track{
    display: flex;
    gap: 10px;
}

.category-description-img{
    position: absolute;
    overflow: hidden;
}

/*카테고리별 맛집 추천*/
.food-categories-banner{
    width: 100vh;
}

.food-categories-banner .slick-track{
    display: flex;
    gap: 10px;
}

.recommend-category-button{
    height: 5em;
    font-size: 0.8em;
}

/*.recommend-category-button.active {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*}*/

.category-icon{
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.recommend-category-button {
    /*font-size: 4vw;*/
    white-space: nowrap;
}